<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      .container {
        max-width: 960px;
      }
    </style>
    <title>ShortUrls</title>
  </head>
  <body>
    <div class="container">
      
      <div class="py-4 text-center">
        <h1>Short URL Form</h1>
      </div>
      <!-- Add Short Url Link-->
      <form action="{{ url_for('add_url') }}" method="post">
        
	<div class="form-group">
          <label for="originalUrl"><strong>Original URL</strong></label>
          <input type="url" class="form-control" name="urlInput" placeholder="URL">
          <small id="urlHelp" class="form-text text-muted">Paste the desired redirect URL</small>
        </div>
        
	<div class="form-group">
          <label for="newName"><strong>New Name</strong></label>
          <input type="text" class="form-control" name="nameInput" placeholder="New Name">
	  <small id="redirectHelp" class="form-text text-muted">Enter the new name served at https://www.ocf.io/s/{name}</small>
        </div>
        
	<button type="submit" class="btn btn-primary">Submit</button>
        {% if success %}
          <small id="message" class="form-text text-muted">{{ success }}</small>
        {% endif %}
      
      </form>
      
      <!-- Search form -->
      <form action="{{ url_for('search_url') }}" class=" py-4 form-inline" method="post">
          <input type="text submit" class="form-control" name="searchInput" placeholder="Search">
      </form>
      
      <ul class="list-group">
          {% for result in search_results %}
            <li class="list-group-item flex-column align-items-start">
		    <form action="{{ '/delete/' + result['name'] }}" method="post" class="d-flex w-100 justify-content-between">
                	<h5 class="mb-1" name="link_alias">{{ result['name'] }}</h5>
			<button type="submit" class="btn btn-primary">Delete</button>
                </form>
                <p class="mb-1">{{ result['url'] }}</p>
            </li>
          {% endfor %}
      </ul>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
